<div class="container">
  <div>
    <button type="button" (click)="onLoadOwners()">Load Owners</button>
  </div>
  

  <div style="margin-top: 10px;">
    <button type="button" (click)="onUpdateJob()">Update one of the JOB</button>
  </div>

  <div style="margin-top: 10px;">
    <button type="button" (click)="onAddJob()">Add new JOB</button>
  </div>

  <div style="margin-top: 10px;">
    <button type="button" (click)="onDeletJob()">Delete JOB</button>
  </div>

  <div style="margin-top: 10px;">
    <button type="button" (click)="onUpdateNetwork()">Update one of the Network</button>
  </div>

  <div style="margin-top: 10px;">
    <button type="button" (click)="onAddNetwork()">Add new Network</button>
  </div>

  <div style="margin-top: 10px;">
    <button type="button" (click)="onDeletNetwork()">Delete Network</button>
  </div>

  <div style="margin-top: 10px;">
    {{ownerList$ | async | json}}
  </div>
</div>

<router-outlet></router-outlet>
